@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(125, 56, 171);
    --link-purple: rgb(125, 56, 171);

    --footer-link: rgb(14, 14, 14);
    --footer-headings: rgb(255, 255, 255);
    --footer-tix: rgb(14, 14, 14);
    --footer-see: rgb(255, 255, 255); 

    --nav-bg: rgb(125, 56, 171);
    --nav-btn: rgb(255, 255, 255);
    --nav-font: rgb(14, 14, 14);

    --home-btn-bg: rgb(125, 56, 171);
    --home-btn-font: rgb(255, 255, 255);
    --home-btn-bor: rgb(14, 14, 14);

    --card-bg: rgb(255, 255, 255);
    --card-bor: rgb(14, 14, 14);
    --card-title: rgb(14, 14, 14);
    --card-details-bg: rgb(125, 56, 171);
    --card-details-font: rgb(255, 255, 255);

    --input-bg: rgb(255, 255, 255);
    --input-bor: rgb(14, 14, 14);
    --input-font: rgb(14, 14, 14);
    --input-i: rgb(125, 56, 171);

    --black: rgb(14, 14, 14);
    --white: rgb(255, 255, 255);
}

.dark-mode {
    --primary-color: rgb(125, 56, 171);
    --link-purple: rgb(214, 173, 241);

    --nav-bg: rgb(125, 56, 171);
    --nav-btn: rgb(255, 255, 255);
    --nav-font: rgb(14, 14, 14);

    --home-btn-bg: rgb(255, 255, 255);
    --home-btn-font: rgb(14, 14, 14);
    --home-btn-bor: rgb(125, 56, 171);

    --card-bg: rgb(125, 56, 171);
    --card-bor: rgb(255, 255, 255);
    --card-title: rgb(255, 255, 255);
    --card-details-bg: rgb(14, 14, 14);
    --card-details-font: rgb(255, 255, 255);

    --input-bg: rgb(125, 56, 171);
    --input-bor: rgb(255, 255, 255);
    --input-font: rgb(255, 255, 255);
    --input-i: rgb(14, 14, 14);
    
    --white: rgb(14, 14, 14);
    --black: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 0.8em;
  }
  
  ::-webkit-scrollbar-track {
    background-color: none;
    width: 1em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2em;
    border: 0.2em solid var(--white);
  }

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    height: max-content;
    display: block;
    background-color: var(--nav-bg);
    border-bottom: 0.3em solid var(--black);

    .nav-wrapper {
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 4em 0.5em 2em;
        box-sizing: border-box;

        .nav-logo {
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            cursor: pointer;
            width: max-content;
            background-color: var(--nav-btn);
            padding: 0.5em 1.3em;
            border: 0.15em solid var(--nav-font);
            border-radius: 1em;
            box-shadow: -0.25em 0.25em var(--nav-font);
            & svg {
                width: 2em;
                height: fit-content;
                margin: 0;
                fill: var(--nav-font);
            }
            & h1 {
                color: var(--nav-font);
                margin: 0;
                font-size: 2rem;
                font-weight: 700;
            }
            & span {
                color:var(--primary-color);
            }
        }

        .nav-links {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: end;
            list-style-type: none;
            padding-right: 2em;
            gap: 4em;
            font-weight: 500;
        }
    }
}

.elem::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: url("/assets/spideybg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(1);
    mix-blend-mode: soft-light;
    opacity: 0.3;
    pointer-events: none;
}

nav a {
    display: block;
    text-decoration: none;
    width: max-content;
    height: max-content;
    padding: 0.5em 1.3em;
    transition: 0.3s all ease-out;
    border: 0.15em solid var(--nav-font);
    border-radius: 1em;
    box-shadow: -0.25em 0.25em var(--nav-font);
    transform: translate(0.3em, 0.3em);
    color: var(--nav-font);
    background-color: var(--nav-btn);

    & i {
        padding-right: 0.5em;
        color: var(--primary-color);
    }
}

nav a:hover {
    transform: translate(-0.3em, 0.6em);
    box-shadow: -0.0em 0.0em var(--nav-font);
}

@keyframes spideyMotion {
    0% {
        margin-top: 11%;
        margin-left: -9%;
    }
    25% {
        margin-top: 10%;
        margin-left: -9%;
    }
    50% {
        margin-top: 11%;
        margin-left: -10%;
    }
    75% {
        margin-top: 10%;
        margin-left: -10%;
    }
    100% {
        margin-top: 11%;
        margin-left: -9%;
    }
}


#home {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-bottom: 0.3em solid var(--black);
    box-sizing: border-box;

    .hero-wrapper {
        width: 50%;
        height: 100%;
        position: relative;
        border-left: 0.3em solid var(--black);

        & img {
            position: absolute;
        }

        .spidey {
            width: 60%;
            z-index: 3;
            margin-left: -10%;
            margin-top: 8%;
            transition: 0.2s all ease-out;
            animation: spideyMotion 5s ease-in-out 0s infinite;
        }

        .bg-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;

            & img {
                height: 100%;
                transform: translateX(-20%);
            }

        }

    }

    .hero-text-wrapper {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-text {
            width: max-content;
            display: flex;
            flex-direction: column;
            height: max-content;
        }



        & h3 > span {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--primary-color);
        }

        & h1 {
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 1em;
            margin: 0;
            color: var(--black);
        }

        & h1 > span {
            color: var(--primary-color);
        }

        & h3 {
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--black)
        }

        & a {
            display: block;
            text-decoration: none;
            width: max-content;
            height: max-content;
            padding: 0.5em 1.3em;
            transition: 0.3s all ease-out;
            border: 0.15em solid var(--black);
            border-radius: 1em;
            box-shadow: -0.25em 0.25em var(--home-btn-bor);
            transform: translate(0.3em, 0.3em);
            color: var(--home-btn-font);
            font-size: 1.3rem;
            background-color: var(--home-btn-bg);

            & i {
                padding-right: 0.5em;
            }

        }

        & a:hover {
            transform: translate(-0.3em, 0.6em);
            box-shadow: -0.0em 0.0em var(--home-btn-bor);
        }    
    }

}

#released, #upcoming {
    position: relative;
    width: 100%;
    height: max-content;
    overflow: hidden;
    /* background-color: var(--primary-color); */
    color: var(--white);
    padding: 0em 1em 4em 0em;

    

    & h1 {
        width: max-content;
        height: max-content;
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
        color: var(--black);
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-top: 0.5em;
        display: flex;
        align-items: center;
        gap: 0.3em;
        
        & i {
            color: var(--primary-color);
            font-size: 2.5rem;
        }

    }

    .marquee {
        display: block;
        position: relative;
        width: 100%;
        height: max-content;
        padding: 0.5em 0em;
        background-color: var(--primary-color);
        border-bottom: 0.3em solid var(--black);
        overflow: hidden;

        .marquee-scroll {
            display: flex;
            align-items: center;
            width: 200%;
            height: max-content;
            gap: 0.5em;
            justify-content: space-evenly;

            & i {
                color: rgb(49, 14, 73);
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }

            & h1 {
                color: var(--white);
                font-size: 1.3rem;
                margin: 0;
                padding-right: 1em;
            }

            
        }

    }

    .wrapper-wrapper {
        width: 100%;
        height: max-content;
        display: flex;
        gap: 2em;

        .description {
            border-top: 0.2em solid var(--black);
            border-right: 0.2em solid var(--black);
            border-bottom: 0.2em solid var(--black);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 10em;
            background-color: var(--primary-color);
            border-radius: 0em 2em 2em 0em;
            gap: 3em;

            .button-group {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                width: max-content;
                height: max-content;
                padding: 0.8em 1.6em;
                transition: 0.3s all ease-out;
                border: 0.15em solid var(--nav-font);
                border-radius: 1em;
                box-shadow: -0.25em 0.25em var(--nav-font);
                transform: translate(0.3em, 0.3em);
                color: var(--nav-font);
                background-color: var(--nav-btn);
                gap: 1em;
                cursor: pointer;

                & i {
                    font-size: 2rem;
                    color: var(--nav-bg);
                }

            }

            .button-group:hover {
                transform: translate(-0.3em, 0.6em);
                box-shadow: 0.0em 0.0em var(--nav-font);
            }

        }

    }




    ::-webkit-scrollbar {
        width: 0.8em;
        height: 0.5em;
      }
      
      ::-webkit-scrollbar-track {
        background-color: none;
        width: 1em;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 2em;
        border: none;
      }

    .wrapper {
        width: 85%;
        height: max-content;
        display: flex;
        gap: 3em;
        padding-bottom: 2em;
        padding-left: 1em;
        overflow-x: scroll;
        scroll-behavior: smooth;
        background-color: var(--white);

        .card-wrapper {
            display: flex;
            width: max-content;
            height: max-content;
            box-shadow: -0.4em 0.4em var(--black);
            transform: translate(0.4em, 0.4em);
            transition: 0.3s all ease-out;
            border-radius: 2em;
            cursor: pointer;
            text-decoration: none;

            .card {

                width: 15em;
                height: 25em;
                background-color: var(--card-bg);
                border: 0.2em solid var(--card-bor);
                display: flex;
                flex-direction: column;
                padding: 1em 1em;
                border-radius: 2em;
            

                .title {
                    padding-top: 0.7em;
                    width: 100%;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.1em;
                    color: var(--card-title);
                    padding-bottom: 0.2em;
                }

                .poster {
                    height: 80%;
                    overflow: hidden;
                    border-radius: 1em;

                    & img {
                        width: 100%;
                    }

                }

                .details {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.3em;
                    padding-bottom: 0.3em;
                    
                    
                    & h3 {
                        margin: 0;
                        font-weight: 400;
                        color: var(--card-details-bg);
                    }

                    & i {
                        color: var(--card-details-bg);
                    }

                }

                .details2 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0.3em;
                    flex-wrap: wrap;

                    & h3 {
                        margin: 0;
                        font-weight: 400;
                        padding: 0.2em 0.7em;
                        background-color: var(--card-details-bg);
                        color: var(--card-details-font);
                        border-radius: 0.5em;
                        font-size: 0.9rem;
                    }

                }

            }
            
        }
        .card-wrapper:hover {
            transform: translate(-0.4em, 0.8em);
            box-shadow: -0em 0em var(--black);
        }
    }

}

#profile {
    position: relative;
    width: 100%;
    height: max-content;
    /* height: 100%; */
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3em solid var(--black);
    box-sizing: border-box;
    padding: 2em 1em 4em 2em;
    gap: 2em;

    & form {
        display: flex;
        gap: 1em;
        flex-direction: column;
        width: max-content;

        & legend {
            font-size: 2.3rem;
            font-weight: 500;
            width: max-content;
            color: var(--black);

            & h3 {
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--link-purple);
                padding: 0;
                margin: 0;
            }

        }

        .form-group-wrapper {
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }

        .form-group {
            display: flex;
            align-items: center;
            text-decoration: none;
            width: max-content;
            height: max-content;
            padding: 0.8em 1.6em;
            transition: 0.3s all ease-out;
            border: 0.15em solid var(--input-bor);
            border-radius: 1em;
            box-shadow: -0.25em 0.25em var(--input-bor);
            transform: translate(0.3em, 0.3em);
            color: var(--input-font);
            background-color: var(--white);
            gap: 1em;

            & i {
                color: var(--primary-color);
            }

            & label {
                font-size: 1.3rem;
                font-weight: 500;
            }

            & input[type="text"] {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--home-btn-bor);
            }

            & input[type="email"] {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--home-btn-bor);
            }

            & input[type="date"] {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--home-btn-bor);
            }

            & input[type="password"] {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--home-btn-bor);
            }

            & input[type="number"] {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--home-btn-bor);
            }

            & input[type="submit"] {
                font-size: 1.2rem;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                overflow: hidden;
                outline: none;
                color: var(--home-btn-font);
            }

            & select {
                width: 20vw;
                border-radius: 0.5em;
                box-sizing: border-box;
                padding: 0.2em 1em;
                font-size: 1.2rem;
                border: 0.1em solid var(--black);
            }


            & input[type="text"]:focus-visible {
                border: 0.1em solid var(--primary-color) !important;
                background-color: aliceblue;
            }

            & select:focus-visible {
                border: 0.1em solid var(--primary-color) !important;
                background-color: aliceblue;
            }

            & input[type="email"]:focus-visible {
                border: 0.1em solid var(--primary-color) !important;
                background-color: aliceblue;
            }

            & input[type="date"]:focus-visible {
                border: 0.1em solid var(--primary-color) !important;
                background-color: aliceblue;
            }

            & input[type="password"]:focus-visible {
                border: 0.1em solid var(--primary-color) !important;
                background-color: aliceblue;
            }
        }

        .submit-button-group {
                display: block;
                text-decoration: none;
                width: max-content;
                height: max-content;
                padding: 0.5em 1.3em;
                transition: 0.3s all ease-out;
                border: 0.15em solid var(--black);
                border-radius: 1em;
                box-shadow: -0.25em 0.25em var(--home-btn-bor);
                transform: translate(0.3em, 0.3em);
                color: var(--home-btn-font);
                font-size: 1.3rem;
                background-color: var(--home-btn-bg);
    
                & i {
                    padding-right: 0.5em;
                    color: var(--home-btn-font);
                }
            }

        .submit-button-group:hover {
            transform: translate(-0.3em, 0.6em);
            box-shadow: -0.0em 0.0em var(--home-btn-bor);
        } 

        .seat-group {
            flex-direction: column;
        }

        .seat-set-group {
            display: grid;
            grid-template-columns: 1fr 0.2fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: max-content;
            height: max-content;
            padding-bottom: 1em;
            

            .left-group {
                display: grid;
                grid-column-start: 1;
                grid-column-end: 2;
                height: max-content;
                grid-template-columns: repeat(8, 1fr);
                gap: 0.5em;

                .seat {
                    width: 1em;
                    height: 1em;
                    border-radius: 0.2em;
                    background-color: rgb(214, 173, 241);
                    transition: 0.2s all ease-in-out;
                    cursor: pointer;
                }
                
            }



            .right-group {
                display: grid;
                grid-column-start: 3;
                grid-column-end: 4;
                height: max-content;
                grid-template-columns: repeat(8, 1fr);
                gap: 0.5em;
                

                .seat {
                    width: 1em;
                    height: 1em;
                    border-radius: 0.2em;
                    background-color: rgb(214, 173, 241);
                    transition: 0.2s all ease-in-out;
                    cursor: pointer;
                }

            }

            .middle-group {
                display: grid;
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
                height: max-content;
                grid-template-columns: repeat(20, 1fr);
                gap: 0.5em;

                .seat {
                    width: 1em;
                    height: 1em;
                    border-radius: 0.2em;
                    background-color: rgb(214, 173, 241);
                    transition: 0.2s all ease-in-out;
                    cursor: pointer;
                }
            }

            .seat:hover {
                background-color: var(--primary-color);
            }

        }

        .screen {
            width: 100%;
            background-color: var(--primary-color);
            height: 0.8em;
            border-top: 1em solid var(--white);
            border-radius: 1em;
        }

        .screen-text {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
            font-weight: 400;
        }

        .button-group {
            cursor: pointer;
            background-color: var(--primary-color);
        }

        .button-group i {
            color: var(--white);
        }

        .button-group div {
            font-size: 1.3rem;
            color: var(--white);
        }

        .button-group:hover {
            transform: translate(-0.3em, 0.6em);
            box-shadow: 0.0em 0.0em var(--black);
        }

    }

    .card-wrapper {
        display: flex;
        width: max-content;
        height: max-content;
        box-shadow: -0.4em 0.4em var(--black);
        transform: translate(0.4em, 0.4em);
        transition: 0.3s all ease-out;
        border-radius: 2em;
        cursor: pointer;
        text-decoration: none;

        .card {

            width: 15em;
            height: 25em;
            background-color: var(--card-bg);
            border: 0.2em solid var(--card-bor);
            display: flex;
            flex-direction: column;
            padding: 1em 1em;
            border-radius: 2em;
        

            .title {
                padding-top: 0.7em;
                width: 100%;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.1em;
                color: var(--card-title);
                padding-bottom: 0.2em;
            }

            .poster {
                height: 80%;
                overflow: hidden;
                border-radius: 1em;

                & img {
                    width: 100%;
                }

            }

            .details {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.3em;
                padding-bottom: 0.3em;
                
                
                & h3 {
                    margin: 0;
                    font-weight: 400;
                    color: var(--card-details-bg);
                }

                & i {
                    color: var(--card-details-bg);
                }

            }

            .details2 {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 0.3em;
                flex-wrap: wrap;

                & h3 {
                    margin: 0;
                    font-weight: 400;
                    padding: 0.2em 0.7em;
                    background-color: var(--card-details-bg);
                    color: var(--card-details-font);
                    border-radius: 0.5em;
                    font-size: 0.9rem;
                }

            }

        }
        
    }
    .card-wrapper:hover {
        transform: translate(-0.4em, 0.8em);
        box-shadow: -0em 0em var(--black);
    }

}

.booking {
    align-items: start !important;
    gap: 3em !important;
}

.signup {
    height: 70vh;
}

.signin {
    height: 75vh !important;
}

.bottom {
    display: flex;
    gap: 1.5em;
    align-items: center;

    & h1 {
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--black);

        & a {
            text-decoration: none;
            color: var(--link-purple);
        }

    }

}

footer {
    width: 100%;
    height: max-content;
    display: flex;
    background-color: var(--nav-bg);
    /* background-color: aliceblue; */
    justify-content: space-around;
    padding: 2em 0em 2em 0em;
    border-top: 0.5em solid var(--black);
    flex-wrap: wrap;

    .left {
        width: max-content;
        display: flex;
        align-items: center;

        .nav-logo {
            height: max-content;
            display: flex;
            align-items: center;
            gap: 0.5em;
            cursor: pointer;
            & svg {
                width: 2.5em;
                height: fit-content;
                margin: 0;
                fill: var(--footer-tix);
            }
            & h1 {
                color: var(--footer-tix);
                margin: 0;
                font-size: 2.5rem;
                font-weight: 700;
            }
            & span {
                color: var(--footer-see);
            }
        }

    }

    .middle {
        width: max-content;
        padding: 0;
        margin: 0;

        & ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 0.5em;
            column-gap: 1em;
            list-style: none; 
            margin: 0;

            & i {
                color: var(--footer-headings);
            }

            & p {
                grid-column-start: 1;
                grid-column-end: 3;
                font-size: 2rem;
                margin: 0;
                font-weight: 600;
                /* color: var(--primary-color); */
                color: var(--footer-link);
            }

            & li a {
                font-size: 1.2rem;
                padding-left: 0.3em;
                text-decoration: none;
                color: var(--footer-headings);
                font-weight: 400;
            }

        }

    }

    .right {
        width: max-content;
        padding: 0;
        margin: 0;

        & ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 0.5em;
            column-gap: 1em;
            list-style: none; 
            margin: 0;

            & i {
                color: var(--footer-headings);
            }

            & p {
                grid-column-start: 1;
                grid-column-end: 3;
                font-size: 2rem;
                margin: 0;
                font-weight: 600;
                /* color: var(--primary-color); */
                color: var(--footer-link);
            }

            & li a {
                font-size: 1.2rem;
                padding-left: 0.3em;
                text-decoration: none;
                color: var(--footer-headings);
                font-weight: 400;
            }
        }
    }
}



